@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

select {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

}

.select-wrap::after {
  content: '';
  background-image: url('/arrow.svg'); /* アイコンのパス */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 1.25rem; /* アイコンの位置 */
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* アイコンの幅 */
  height: 20px; /* アイコンの高さ */
}